.navbar-brand{
    font-weight: 600 !important;
}
.bg-body-tertiary{
    background-color: rgb(222, 255, 242) !important;
}
.active{
    background-color: rgb(0, 160, 139);
    font-weight: 500 !important;
    color: white !important;
    border-radius: 2em;
}
h2{
    color: rgb(97, 97, 97);
}
#sidebar .nav-link{
    /* margin: 1em 0em; */
    font-size: large;
}
#sidebar .nav-link:hover{
    background-color: rgba(116, 116, 116, 0.267);
}